.ngx-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ngx-tabs__card {
    flex: 0 50%;
}

.ngx-tabs__card-avatar {
    background-image: url('https://oetkerdigital.com/images/logo.svg');
    background-size: cover;
    width: 35px;
}

.ngx-tabs__card-title {
    margin: 9px 0 0;
}