.ngx-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    font-size:16px;
}

.ngx-tabs__card {
    flex: 0 50%;

    @media screen and (max-width: 599px) {
        flex-basis: 100%;
    }
}

.ngx-tabs__card-avatar {
    background-image: url('https://oetkerdigital.com/images/logo.svg');
    background-size: cover;
    width: 35px;
}

.ngx-tabs__card-header {
    margin-bottom: 12px;
}

.ngx-tabs__card-title {
    margin: 4px 0 0;
    font-size: 1.375em;
    font-weight: 400;
    color: #102379;
}

.ngx-tabs__topics-link {

    color: #102379;
    cursor: pointer;
    &:hover {
        color: #1d68c7;
        text-decoration: underline;
    }
}