<div class="ngx-tabs">
  <mat-card class="ngx-tabs__card">
    <mat-card-header class="ngx-tabs__card-header">
      <div class="ngx-tabs__card-avatar"
           mat-card-avatar>
      </div>
      <mat-card-title class="ngx-tabs__card-title">
        Browse Website
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group [selectedIndex]="defaultTab" (selectedTabChange)="onSelect($event)">
        <mat-tab *ngFor="let tab of tabs; let i = index" >
            <ng-template mat-tab-label>
              <mat-icon>{{tab.icon}}</mat-icon> <span> {{tab.name}}</span>
            </ng-template>
        </mat-tab>
      </mat-tab-group>
      <mat-list role="list"
                *ngIf="defaultTab === 0"
      >
          <mat-list-item role="listitem"
                          *ngFor="let item of tabsContent[defaultTab].content; let i = index"
          >
            <a class="ngx-tabs__topics-link">
              <span matBadge="{{item.posts}}" matBadgeOverlap="false">{{item.title}}</span>
            </a>
          </mat-list-item>
      </mat-list>
      <mat-list role="list"
                *ngIf="defaultTab === 1"
      >
          <mat-list-item role="listitem"
                         *ngFor="let item of tabsContent[defaultTab].content; let i = index"
          >
            <img matListAvatar src="{{item.imgUrl}}">
            <p matLine>
              <span> {{item.name}} </span>
            </p>
          </mat-list-item>
      </mat-list>
      <div class="ngx-tabs__pages" *ngIf="defaultTab === 2">
          <mat-spinner class="ngx-tabs__spinner-pages"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</div>